build --crosstool_top=//toolchain:cc
build --cpu=clang
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build --strip=never
build --color=yes
test  --color=yes
test  --test_arg="--use-colour yes"
test  --test_output=errors
build:asan --copt=-fsanitize=address --linkopt=-fsanitize=address
build:tsan --copt=-fsanitize=thread --linkopt=-fsanitize=thread
build:ubsan --copt=-fsanitize=undefined --linkopt=-fsanitize=undefined
build:profile --copt=-fno-omit-frame-pointer
